.root{
display: inline-block !important;
margin: 20px;
/* width: 26% !important; */
}
.confirmed{
    border-color: rgb(82, 171, 255) !important;
    color:rgb(82, 171, 255) !important;
}
.recovered {
    border-color: rgb(29, 255, 150) !important;
    color: rgb(29, 255, 150) !important;
}
.death {
    border-color: rgb(255, 82, 82) !important;
    color: rgb(255, 82, 82) !important;
}
date{
    color: tomato !important;
}